<h1>New Record</h1>

<!-- <%= render 'form' %> -->
<%= form_for @record do |f|%>

	<div>
		name
		<%= f.select :name, options_for_select(["home", "personal", "food", "car", "shopping"])%>
	</div>

	<div>
		expense
		<%= f.text_field :expense %>
	</div>

<%= f.submit%>
<%end%>

<%= link_to 'Back', records_path %>
